.containerBill{
   
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.BillPre{
    display: flex;
    flex-direction: column;
    width: 400px;

    box-shadow:  8px 10px 10px #E8E8E8;
    padding: 15px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.mainTitle{
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 700;
}

.listItemBought{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 14px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.itemBought{
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.reviewBillTotal{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}