.partner-logo {
	background: #303030;
	
	
}
.logo-carousel 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}
.logo-item
{
	height: 100px;
	display: flex;	
	align-items: center;
	
}
.row2
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color:#191919;
	color: white;
	font-size: 20px;
	width: 100%;
	
}
.footer-logo
{
	display: inline-block;
	padding-top: 40px;
	padding-left: 40px;
}
.col1 ul li
{
	list-style: none;
	color: #b2b2b2;
	font-size: 16px;
	line-height: 30px;
}
.col2
{
	display: flex;
	width: 15%;
}
.col3
{
	
	width: 15%;
}
.col4
{
	
	width: 30%;
}
.footer-widget {
	
	margin-bottom: 30px;
	
	
}

.footer-widget h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 26px;
	text-align: center;

}
.border
{
	align-self: center;
}
.footer-widget ul li {
	list-style: none;
	
	margin-right: 50px;
	
}

.footer-widget ul li a {
	line-height: 36px;
	font-size: 16px;
	color: #b2b2b2;
}
.col5
{

	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	border-top: 0.5px solid #b2b2b2;
	
}
.copyright-text
{
	width: 60%;

	
}
.payment-pic
{
	width: 40%;
	
	
}
.picpayment
{
	float: right;
	padding-left: 5;
}

