a{
    text-decoration: none;
}




.styleOf{
    width: 90%;
    height: 580px;
    margin: 80px auto;
    display: flex;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.styleOfRight{
    width: 90%;
    height: 580px;
    margin: 40px auto;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.productContStyle{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.productViewStyle{
    display: flex;
    width: 100%;
    position: relative;
}

.productStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    margin-right: 15px;
}

.productName{
    font-size: 18px;
}

.productPrice{
    font-size: 20px;
    color: #e7ab3c;
    font-weight: bold;
}


.styleTitle{
    color: #171717;
    font-size: 25px;
    border-bottom: 2px solid black;
    padding-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.containerhome
{
    width: 20%;
    
    border-style: solid;
    
    border-style: hidden;
    box-shadow: 8px 10px 10px lightgray;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center ;
}
.pi-pic
{
    
    width:100%;
    
    
}
.item
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.pic{
    height: 60%;
    width: 100%;

}
.text
{
    
   
    height: 40%;
}
.textname
{
    padding-left: 10px;
    height: '20%';
    
    font-weight: bold;
}
.textprice
{
    height: 20%;
    
    padding: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: red;
}
.loading-more
{
    color: red;
    height: 10%;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
@-webkit-keyframes my {
0% { color: white; }
50% { color: red;  }
100% { color :white;  }
}
@-moz-keyframes my {
    0% { color: white; }
50% { color: red;  }
100% { color :white;  }
}
@-o-keyframes my {
    0% { color: white; }
50% { color: red;  }
100% { color :white;  }
}
@keyframes my {
    0% { color: white; }
    50% { color: red;  }
    100% { color :white;  }
}
.texttitle {
         
         font-size:40px;
         font-weight:bold;
-webkit-animation: my 900ms infinite;
-moz-animation: my 900ms infinite;
-o-animation: my 900ms infinite;
animation: my 900ms infinite;
}