.containerpage
{
  display: flex;
  flex-direction: row;
}
.colleftShop
{
  width: auto;
}
.productlistcontainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}
.colproduct
{
  margin-left: 30px;
}
.fw-title
{
  color: #252525;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 26px;
}